@mixin pc {
  @media only screen and (min-width: 1280px) {
    @content
  }
}

@mixin tab {
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    @content
  }
}

@mixin phone {
  @media only screen and (max-width: 767px) {
    @content
  }
}


.header {
  width: 100vw;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  display: block;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .top_logo {
    width: 100vw;
    height: auto;
    display: block;
    //image-rendering: crisp-edges;
    @include pc {
      display: none;
    }

    @include tab {
      display: none;
    }
  }

  .pc_top_logo {
    width: 100vw;
    height: auto;
    display: none;

    @include pc {
      display: block;
    }

    @include tab {
      display: none;
    }
  }

  .ipad_top_logo {
    width: 100vw;
    height: auto;
    display: none;

    @include pc {
      display: none;
    }

    @include tab {
      display: block;
    }
  }
}

.footer3 {
  width: 100vw;
  box-sizing: border-box;
  height: 50px;
  background: #005E87;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 110%;
  text-align: center;

  > * {
    font-size: 10px;
    font-weight: normal;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;

    &:link, &:visited {
      color: #ffffff;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
    }
  }
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 0;
  min-height: 100vh;
  height: auto;
  font-size: 16px;

  > * {
    margin: 0;
  }
}

@mixin checkbox ($pdl, $wd, $ht, $mt, $bdw, $bc, $br, $checkWd, $checkHt, $checkMt, $checkLt) {

  input[type="checkbox"] {
    display: none;
  }

  //チェックボックスの代わりを成すラベル
  label  {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: $pdl;

    //ラベルの左に表示させる正方形のボックス
    &::before {
      content: "";
      position: absolute;
      display: block;
      box-sizing: border-box;
      width: $wd;
      height: $ht;
      margin-top: $mt;
      left: 0;
      top: 50%;
      border: solid $bdw #005E87;
      background-color: $bc;
      border-radius: $br;
    }
  }

  //チェックが入った時のレ点
 input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: $checkWd;
    height: $checkHt;
    margin-top: $checkMt;
    top: 50%;
    left: $checkLt;
    //箱を斜めに傾けてチェック表示にする
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color: #005E87
  }
}

@mixin button_parts($bg,$border,$color, $width, $font) {
  display: inline-block;
  text-align: center;
  background: $bg;
  border: solid 1px $border;
  box-sizing: border-box;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  color: $color;
  cursor: pointer;
  width: $width;
  height: 36px;
  word-break: keep-all;
  font-size: $font;
}
