/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
/*html {*/
/*    width: 100vw;*/
/*}*/
body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica',
    'Arial', sans-serif;
    width: 100vw;
    margin: 0;
    user-select: none;
    /*Safariではデフォルトでタップした範囲が暗くなる設定がされているから*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}